<section style="padding-top: 5em;" id="order-s" class="min-vh-100">
    <div class="container  ">
        <div class="row">
            <div class="col-12 ">
                <h1 class="text-success text-center ">Order placed successfully</h1>
            </div>
            <div class="col-12 col-md-6 m-auto ">
                <img src="/images/home/order.gif" class="img-fluid rounded-top /order-placed-successfully" alt="">
            </div>
            <div class="col-12 text-center ">
                <a href="/orders" class="btn  " style="background-color: #16373a;color: white;">View Orders</a>
            </div>
        </div>
    </div>
</section>